<section>
	<fieldset>
			<legend>Situational Cost</legend>
			<div class="form-group">
				<label>Cost</label>
				<div class="form-fields">
                    <input type="number" name="situationalCost" value="{{situationalCost}}" step="1">
				</div>
			</div>
	</fieldset>
</section>